{% extends "base.html" %}

{% block content %}
<h1>Все записи в блоге</h1>
{% for item in news%}
<div class="col-md6 border rounded" >
    <div>
        {% if item.user.avatar == None %}
            <img src="static/empty_avatar.jpg" height="40" width="40">
        {% else %}
            <img src="static/users_files/{{item.user.avatar}}" alt="avatar" height="40" width="40">
        {% endif %}
        <span>{{item.user.name}}<span/><br>
        <span>{{item.created_date}}<span/>
        <h3 id="{{item.id}}">{{item.title}}</h3>

        {{item.content}}


        <style>div {
    background: white; /* Цвет фона */
    border:  solid gray; /* Белая рамка */
    border-radius: 5px; /* Радиус скругления */
   }

        </style><br>
        <span >Лайки: {{item.likes}}<span/>
        {% if current_user.is_authenticated %}
            {% if not item.liked_users %}
                <a href="{{ url_for('like', news_id=item.id) }}", class="btn btn-danger">
                ❤ Лайк
                </a>
            {% elif current_user.name not in item.liked_users%}
                <a href="{{ url_for('like', news_id=item.id) }}" class="btn btn-danger">
                ❤ Лайк
                </a>
            {% elif current_user.name in item.liked_users %}
                <a href="{{ url_for('dislike', news_id=item.id) }}" class="btn btn-secondary">
                ❤ Лайк
                </a>
            {% endif %}
        {% endif %}
</div>
{% endfor %}
<footer>ура ты домотал до конца!</footer>
{% endblock %}
